/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Uchen&display=swap');
/* Content */
#full-content{
    background-image: url("/static/Img/background-home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 38.5rem;
    flex-direction: column;
    backdrop-filter: blur(5px);
}
#main-c{
    background-color:rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 1.2rem;
    color:black;
}
#main-c .text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#main-c .text-wrapper h2{
    font-size:2.5rem;
    font-weight:bold;
    font-family: 'Uchen', serif;
    text-align: center;
}
#main-c .text-wrapper p{
    font-size:1.3rem;
    /* font-weight:bold; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight:450;
    text-align: center;
}
#main-c .btn-primary{
    background-color: #F0616D;
    border-color: #F0616D;
    color: black;
    font-size:2rem;
    font-family: 'Uchen', serif;
}
#main-c .btn-primary:hover{
    background-color: #58181F;
    border-color: #58181F;
    color: white;
}